# Local environments & dependencies
.venv/
env/
venv/

# Environment variables & secrets
.env

# Git & Docker metadata
.git/
.gitignore
Dockerfile*
docker-compose*

# Python cache & build files
__pycache__/
*.py[cod]

# Testing & coverage
tests/
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor files
.idea/
.vscode/